DATABASE_URL = postgres://bebmqoqheevpgg:a8481acc675c923853435bdeaba047f0c730b048bce15195206e0922d84cdcd6@ec2-174-129-227-51.compute-1.amazonaws.com:5432/dcgf1pq1qq8itf
appSecreteKey = hksuua7as77hjvb348b3j2hbrbsc9923k
CLOUDINARY_API_KEY = 378819748537291
CLOUDINARY_API_SECRET = v9AZqwP9SuCHLcNA8SXpBoI4rlk
CLOUDINARY_CLOUD_NAME = dbe1sfmr4
MAILER = rumbiihas@gmail.com
MAILER_PASSWORD = Kanyanyama01
MAILER_SERVICE = gmail
PORT = 5000